.caja__Formulario{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formulario__inicioSecion{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formulario__inicioSecion--titulos{
    font-size: 1.5rem;
    font-weight: bold;
}

.formulario__inicioSecion--input{
    width: 100%;
    height: 3.4rem;
    padding: .8rem;
    border-radius: 10px;
    font-size: 1.4rem;
}

.inputUsuario{
    margin: 1.2rem 0 1.8rem 0;
}

.cajaIconoCerrar{
    position: absolute;
    top: 25px;
    right: 30px;
}

.iconoCerrar{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.iconoCerrar:hover{
    cursor: pointer;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

.caja__formulario--boton{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 1.8rem;
}

.btnIngresar{
    width: 65%;
    height: 4rem;
    background-color: #f1b321;
    color: #481e00;
    padding: 13px 30px;
    border-radius: 12px;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    border: none;
    transition: 0.2s;
    font-weight: bold;
} 

.btnIngresar:hover{
    cursor: pointer;
    box-shadow: 0 0 0 5px #fff, 0 0 0 10px #f1b321;
}

@media screen and (min-width: 1024px){
    .cajaIconoCerrar{
        display: none;
    }
}

@media screen and (767px <= width < 1024px){
    .formulario__inicioSecion--titulos{
        font-size: 1.9rem;
    }
    .formulario__inicioSecion--input{
        height: 4.2rem;
        padding: 1rem;
        font-size: 1.75rem;
    }
    .iconoCerrar{
        font-size: 3rem;
    }
}