.caja__inputPassword{
    position: relative;
}

.closeEye{
    font-size: 1.1rem;
    padding: .6rem;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 38px;
}

.inputPassword{
    margin: 1.2rem 0 0.6rem 0;
}

.inicioSecion__password--error{
    font-size: 1.3rem;
    color: #FF0000;
    font-weight: bold;
}

.passwordError{
    opacity: 0;
}


@media screen and (767px <= width < 1024px){
    .closeEye{
        font-size: 1.4rem;
        bottom: 42px;
    }
}
