@import url("./formulario/contenidoFormulario.css");
@import url("./formulario/formulario.css");
@import url("./formulario/passwordIcon.css");

.contenido__contenedor--imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.contenedorImagen--titulo{
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    color: #e28800;
    margin-bottom: 1.87rem;
}

.imagenLogeo{
    width: 14rem;
    margin-bottom: 1.5rem;
}

.contenido__contenedor--logeo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonLogeo{
    width: 12rem;
    height: 4rem;
    color: #7c3c0b;
    background-color: #f1b321;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.4s ease;
    border: none;
}

.botonLogeo:hover{
    cursor: pointer;
    background-color: #faa040;
}

.textoLogeo{
    font-size: 1.25rem;
    color: #fff;
}

.vinculoLogeo--link{
    margin-left: .5rem;
    color: #f1b321;
    cursor: pointer;
    text-decoration: none;
}

.activeLog{
    height: 45vh;
}

.imagenLogeo{
    transform: translate(0px);
    animation: float 5s ease-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }  
}

@media screen and (min-width: 1024px){
    .contenedorImagen--titulo{
        font-size: 3.5rem;
    }
    .imagenLogeo{
        width: 20rem;
    }
    .contenido__contenedor--logeo{
        display: none;
    }
}

@media screen and (767px <= width < 1024px){
    .contenedorImagen--titulo{
        font-size: 4rem;
    }
    .imagenLogeo{
        width: 22rem;
    }
    .botonLogeo{
        width: 45%;
        height: 5rem;
        font-size: 2.15rem;
    }
}